
* {
    font-family: "Inter", sans-serif;
    font-style: normal;    
}.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topfb{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.blurhead{
    color: #2e3f6e;
    opacity: 0.06;
    z-index: 0;
    font-size: 45px;
    font-weight:1000;
    text-align: center;
    letter-spacing: 2px;
    margin:20px 0px -50px 0px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-40px 0 60px 0 ;
    text-align: center;
    color: #697891;
    font-size: 20px;
    font-weight: 800;
}
.middlefb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
    max-width: 1260px;
}
.userlist {
    color: rgb(0, 0, 0);
    top:170px;
    z-index: 1;
    color: azure;
    opacity: 0.7;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: flex-end;
}
.bottomfb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upperline {
    width: 60px;
    height: 3px;
    background-color: #101d6b;
    display: flex;
    justify-content: space-around;
   margin:-40px 0 20px 180px;

}

.loc {
    height: 250px;
    width: 390px;
    border-radius: 10px;
    margin: 15px;
    background-size: cover;  
    transition: transform 0.5s ease;
    overflow: hidden;
    object-fit: cover;
}
.loc:hover{
    transform: scale(1.05);
}
.userlist {
    color: rgb(0, 0, 0);
    z-index: 1;
    color: azure;
    opacity: 0.7;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    margin:-10px 0 0 0;
}
.loc:hover .userlist{
    color: azure;
    opacity: 1;
}

.mumbai {
    background-image: linear-gradient(rgba(6, 27, 65, 0) 0%, rgba(6, 27, 65, 0.95) 100%), url('images/mumbai.png');
    background-repeat: no-repeat;
    flex-basis: auto;
    

}

.puducherry {
    background-image: linear-gradient(rgba(6, 27, 65, 0) 0%, rgba(6, 27, 65, 0.95) 100%), url('images/puducherry.png');
    background-repeat: no-repeat;
flex-basis: auto;

}

.bengaluru {
    background-image: linear-gradient(rgba(6, 27, 65, 0) 0%, rgba(6, 27, 65, 0.95) 100%), url('images/bengaluru.png');
    background-repeat: no-repeat;


}

.coimbatore {
    background-image: linear-gradient(rgba(6, 27, 65, 0) 0%, rgba(6, 27, 65, 0.95) 100%), url('images/coimbatore.png');
    background-repeat: no-repeat;

}

.chennai {
    background-image: linear-gradient(rgba(6, 27, 65, 0) 0%, rgba(6, 27, 65, 0.95) 100%), url('images/chennai.png');
    background-repeat: no-repeat;
    flex-grow: 1;
}

.bluebox {
    color: azure;
    background-color: #101d6b;
    width: 94px;
    height: 33px;
    border-radius: 5px;
    box-shadow: #697891 2px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin:20px 0 0 20px;
}


pre.pcode {
    color: azure;
    font-size: 13px;
    font-weight: normal;
    z-index: 2;
    border: 4.5px solid rgba(223, 223, 223, 0.5);
    padding: 8.1px 13.9px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   margin:-3.5px 0 0 -4px;

}

pre.pcode::first-letter {
    color: #0dcaf0;
}
.city {
    color: azure;
    z-index: 2;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin:120px 0 0 15px;
}
.city:hover {
    color: #4db7fd;
    cursor: pointer;
  }
  .line {
    width: 40px;
    height: 2px;
    background-color: #4db7fd;
    z-index: 2;
    margin: 0 0 0 15px;
}
.btn{
    background-color: #101d6b;
    color: azure;
    text-align: center;
    width: 135px;
   height: 35px;
   border-radius: 5px;
   border: none;
   margin:40px;

}
.btn:hover{
    background-color:#6db6fd;
    cursor: pointer;
}
 